services:
  ryvie-app:
    image: julescloud/ryvie-website:v0.0.1
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ryvie-app
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - ./server/data:/app/server/data
    environment:
      - NODE_ENV=production
      - PORT=3001
    restart: unless-stopped
