apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ryvie-analytics-pvc
  namespace: ryvie
  labels:
    app: ryvie-website
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
